svg.logo
    display inherit
    margin 60px auto 20px
    max-width 80%
.logo--subtitle
    font-size 14px
    letter-spacing 1px
    color color_gray_secundary
    margin-bottom 28px
.social-badges
    display flex
    align-items center
    margin auto
    justify-content center
    font-size 0
    a
        display inline-block
        background #FFF
        width 250px
        height 48px
        border 1px solid color_pink
        line-height 46px
        border-radius 3px
        font-size 0
        margin 0 20px
        transitions(.2s)

        &:hover
            transitions(.2s)
            box-shadow 0 10px 15px 0 color_pink_light
        span
            width calc(100% - 45px)
            text-align center
            color color_pink
            text-transform uppercase
            font-weight bold
            font-size 11px
            display inline-block
            vertical-align middle
            line-height 46px
        svg, span
            display inline-block
            vertical-align middle
        svg
            margin 0 0 0 15px
.shape-context
    padding-bottom 260px
    position relative
    &::before
        content ''
        display block
        position absolute
        left 0
        right 0
        height 250px
        background #FFF
        top 250px
    .aas
        width 100%
        position absolute
        height 250px
        // clip-path polygon(100% 100%, 100% 0, 0 100%);
        background linear-gradient(-251deg, #FBAA24 17%, #EC2C91 100%);
        transform translateY(48%) skewY(-7deg)
        z-index -1
    .aasb
        width 100%
        position absolute
        height 250px
        // clip-path polygon(100% 100%, 0 100%, 0 0);
        background #fff
        transform translateY(50%) skewY(7deg)
        box-shadow: 0 2px 52px 0 rgba(201,201,201,0.50);
        // z-index 100
    .aasb-with-shadow
        filter: drop-shadow(0 -80px 52px rgba(201, 201, 201, .25));