@media screen and (max-width 768px)
    main.container
        transform translateY(-14px)
    .modal
        .modal--close
            right 0
            left 0
            top 30px
            margin auto
            display table
            float inherit
            width 42px
    .shape-context
        padding-bottom 210px
    .members-navigation
        ul
            margin 0 auto
    .members-list
        .column
            min-width 90%
            padding-right 0
            padding-left 0
            margin-left 5%
    footer
        .container
            height 24px
    .card:hover article::before
        top -18px
        transform skewY(-6deg)
    .sponsors .brands
        li
            zoom 1
            float inherit
            margin-bottom 15px
            &:not(:last-child)
                margin-right 0
        a
            display inherit
            margin 0 auto
@media screen and (max-width 680px)
    main.container
    footer aside
        transform none
    footer aside
        margin-bottom 20px
    footer .shape-context .aasb
        transform translateY(65%) skewY(-7deg)
    footer .shape-context .aas
        transform translateY(55%) skewY(7deg)
    .shape-context .aasb
        transform translateY(60%) skewY(7deg)
    .sponsors .brands li
        zoom 0.7
    main.container
        transform translateY(26px)
    .social-badges 
        display block
        width 250px
        a
            width 250px
            display block
            margin 0 0 10px
    svg.logo
        display block
        width 200px
        height 80px
        margin 40px auto 30px
    .flow-header
        min-height 400px
@media screen and (max-width 1016px)
    .members-list
        .row
            justify-content center
        .column
            margin 0 2.5%
            min-width 280px
@media screen and (max-width 500px)
    .members-navigation
        ul
            width 280px
        span
            font-size .6rem
        li
            margin 0 5px 18px !important
        button
            width 80px
            height 78px
            svg
                width 32px
                max-height 32px